.menu{
    background-color: cornflowerblue;

}

.name{
    color: goldenrod;
}



/*All the option menus*/
.navbar{
    padding-bottom: 30px;
    list-style: none;
    text-decoration: none;
    display:flex;
    justify-content: space-around;
    list-style: none;
    padding-top: 20px;
    font-size: 16px;
}
li a {
    text-decoration: none;
}
li a:hover{
    color: yellow;
    transition: all 1s ease;
}

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
  padding: 70px 25px;
  width: 95%;
  background: #1abc9c;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}






/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}
.eventslist{
    border: 3px solid goldenrod;
    padding: 20px;
    margin: 20px;
    background-color: goldenrod;
    border-radius: 10px;
    width: 33%;
}

th{
  
  width: 13.6%;
  color: #666;
  text-align: center;
}

td{
  list-style-type: none;
  width: 8.6%;
  vertical-align: text-top;
  /*text-align: left;*/
  border-bottom: 90px;
  border-right: 50px;
  border-style: solid;
  margin-bottom: 15px;
  font-size:12px;
  color:cadetblue;
  

}

@media screen and (max-width: 900px){
  .days li{
    width: 6.6%;
  }
  .weekdays li{
    width: 12.6%;

  }

  .month{
    width:90%;
  }
}



@media screen and (max-width: 800px){
  .days li{
    width: 6.0%;
  }
  .weekdays li{
    width: 12.6%;

  }
  .month{
    width:90%;
  }
}

@media screen and (max-width: 700px){
  .days li{
    width: 5.5%;
  }
  .weekdays li{
    width: 12.6%;

  }
  .month{
    width:90%;
  }
}


@media screen and (max-width: 650px){
  .days li{
    width: 5.0%;
  }
  .weekdays li{
    width: 12.6%;

  }
}

@media screen and (max-width: 550px){
  .days li{
    width: 3.0%;
  }
  .weekdays li{
    width: 12.6%;

  }
}
.event_date
    {
    padding: 5px;
    background: black;
    color: white !important
    }