{% extends 'userpage_base_layout.html' %}
{% block title %}
Main Page
{% endblock %}


{% block body %}
    {% if notifications %}
        {% if notifications|length < 2 %}
            {% if notifications[0][3] != 1 %}

            <a href="view_notification/{{ notifications[0][0] }}" class="notification">
                <span>{{ notifications[0][1] }}</span>
                <span class="badge">1</span>
            </a>
            <span></span>
            <br>
            {% else %}

            <a href="view_notification/{{ notifications[0][0] }}" class="notification">
                <span>{{ notifications[0][1] }}</span>
            </a>
            <span></span>
            <br>

            {% endif %}
        {% else %}
            {% for notification in notifications %}
                {% if notification[3] != 1 %}

                    <a href="view_notification/{{ notification[0] }}" class="notification">
                        <span>{{ notification[1] }}</span>
                        <span class="badge">1</span>
                    </a>
                    <span></span>
                    <br>

                {% else %}

                    <a href="view_notification/{{ notification[0] }}" class="notification">
                        <span>{{ notification[1] }}</span>
                    </a>
                    <span></span>
                    <br>

                {% endif %}
            {% endfor %}
        {% endif %}
    {% else %}
        <p>No notifications here</p>
    {% endif %}
{% endblock %}

<!-- <a href="#" class="notification">-->
<!--  <span>{{ notification }}</span>-->
<!--  <span class="badge">1</span>-->
<!--</a>-->