{% extends 'layout_base.html' %}

{% block title %}
Register
{% endblock %}

{% block body %}
<div class="container alert alert-primary">
    <form action="/register" method="POST" class='conatiner'>
        <input type="text" placeholder="Fullname"  style="border: 1px solid blue" id="fullname" name="fullname">
        <br><span></span>
        <input type="text" placeholder="Username" style="border: 1px solid blue" id="username" name="username">
        <br><span></span>
        <input type="password" placeholder="Password" style="border: 1px solid blue" id="password" name="password">
        <br><span></span>
        <input type="password" placeholder="Confirm Password" style="border: 1px solid blue" id="cpassword" name="cpassword">
        <br><span></span>
        <div>
            <input type="submit" class="btn btn-primary" value="Register">
        </div>
    </form>
</div>
{% endblock %}