{% extends 'messaging.html' %}

{% block contact_name %}
{{ contact_name }}
{% endblock %}

{% block history %}
    {% if  chats_history %}
        {% for chat in chats_history %}
            <h4 style="color: #000"><b>{{ chat[1] }}</b>{{ chat[2] }}</h4>
        {% endfor %}
    {% else %}
        <h3 style='color: #ccc;font-size: 30px;'>No chats here yet</h3>
    {% endif %}
{% endblock %}

{% block script %}
    var socket = io.connect('http://' + document.domain + ':' + location.port);

      socket.on( 'connect', function() {
        socket.emit( 'my event', {
          data: 'User Connected'
        } )
        var form = $( 'form.message-send' ).on( 'submit', function( e ) {
          e.preventDefault()
          let user_name = '{{ sender }}'
          let user_input = $( 'input.message-send' ).val()
          let recepient = '{{ contact_name }}'
          socket.emit( 'send_msg', {
            user_name : user_name,
            message : user_input,
            recepient : recepient
          } )
          $( 'input.message' ).val( '' ).focus()
        } )
      } )
      socket.on( 'my response', function( msg ) {
        console.log( msg )
        if( typeof msg.user_name !== 'undefined' ) {
          $( 'h3' ).remove()
          $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
        }
      })
{% endblock %}