{% extends 'layout_base.html' %}

{% block title %}
Main page
{% endblock %}

{% block li %}
   <li class="nav-item badge"><a class="nav-link" href="/home">Home</a></li>
   <li class="nav-item badge"><a class="nav-link" href="/messaging">Messaging</a></li>
   <li class="nav-item badge"><a class="nav-link" href="/projects">Projects</a></li>
   <li class="nav-item badge"><a class="nav-link" href="/calendar">Calendar</a></li>
   <li class="nav-item badge"><a class="nav-link" href="/notifications"><span >Notifications</span><span class="badge notification">{{ notifications_count }}</span> </a></li>
{% endblock %}
