<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "{{ url_for('static', filename='calendar.css') }}" rel = "stylesheet">

    <title>Home Page</title>
</head>
    
<body>
    <div class="wrapper">
        <header>
           <nav>
              
              <div class="name">
                <h2>PYTHONIC TEAMS</h2>
              </div>
              <div class="menu">
                 <ul class="navbar">
                    <li><a href="home.html">Home</a></li>
                    <li><a href="messaging.html">Messaging</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="calendar.html">Calendar</a></li>
                    <li><a href="notifications.html">Notifications</a></li>
                    <li><a href="register.html">Register</a></li>
                    <li><a href="login.html">Log in</a></li>
                 </ul>
              </div>
           </nav>
        </header>
    </div>

    <div class="month">
  <ul>
    <li class="prev"><a href="/prev/{{ current_month }}">&#10094;</a></li>
    <li class="next"><a href="/next/{{ current_month }}/{{ current_year }}">&#10095;</a></li>
    <li>{{ current_month }}<br><span style="font-size:18px">{{ current_year }}</span></li>
      <br><li><a href="/current_date">{{ go_back_to_current_date }}</a></li>
  </ul>
</div>

<ul class="weekdays">
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
    <li>Su</li>
</ul>

<ul class="days">
  {% for dates in month_calendar %}
        {% for date in dates %}
        <li><a href="/new_event/{{ date }}">{{ date }}</a></li>
        {% endfor %}
    {% endfor %}
</ul>

<div class = "eventslist">
<h3>My Events</h3>

</div>

</body>
</html>
