<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Event</title>
    <link href = "{{ url_for('static', filename='calendar(1).css') }}" rel = "stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <form action="/new_event/{{ day }}/{{ month }}/{{ year }}" method="POST">
        <b>Title:</b><input type="text" placeholder="Title" name="title" required="required">
        <br>Event:</b><input type="text" placeholder="Event Details" name="event" required="required" class="Event">
        <input type="submit" value="Save" class="btn btn-primary">
    </form>
</div>
</body>
</html>